<!DOCTYPE html>
<html>

<head>
    <% include head %>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <header>
                <% include header %>
            </header>
        </div>
        <h1><%= topCategory.name %></h1>
        <p><%= topCategory.page_description %></p>
        <% _.each(topCategory.categories, function(subC) { %>
            <% if (subC.image) { %>
            <div>
                <img src="/images/<%= subC.image %>">
            </div>
            <% } %>
            <p><%= subC.page_description %></p>
            <a href="/<%= topCategory.name %>/subcategory/<%= subC.name %>" class="btn btn-default">View products</a>
            <hr>
        <% }); %>
    </div>
</body>

</html>