<!DOCTYPE html>
<html>

<head>
    <% include head %>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <header>
                <% include header %>
            </header>
        </div>
        <div class="row">
            <h1>
                <%= item.name %>
            </h1>
            <p>
                <%= item.page_description %>
            </p>
            <div>
                <ol>
                    <% _.each(item.image_groups, function(group) { %>
                    <% if(group.view_type == "large" && group.variation_value == undefined) { %>
                    <div>
                        <img src="/images/<%= group.images[0].link %>" alt="<%= group.images[0].alt %>">
                    </div>
                    <% } %>
                    <% }); %>
                </ol>
            </div>
        </div>
    </div>
</body>

</html>