
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#default" class="logo">My NodeJS Shop</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/Womens">Womens</a></li>
            <li><a href="/Mens">Mens</a></li>
        </ul>
    </nav>
    <div>
        <ol class="breadcrumb">
            <% _.each(breadcrumbs, function(path) { %>
            <li class="breadcrumb-item"><a href="/<%= path %>"><%= path %></a></li>
            <% }); %>
        </ol>
    </div>
