<!DOCTYPE html>
<html>

<head>
    <% include head %>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <header>
                <% include header %>
            </header>
        </div>
        <div class="row">
            <% _.each(products, function(prod) { %>
            <p>
                <%= prod.name %>
            </p>
            <div>
                <% _.each(prod.image_groups, function(group) { %>
                <% if(group.view_type == "small" && group.variation_value == undefined) { %>
                <img src="/images/<%= group.images[0].link %>" alt="<%= group.images[0].alt %>">
                <% } %>
                <% }); %>
            </div>
            <p>
                <%= prod.short_description %>
            </p>
            <p>
                <%= prod.price %>
            </p>
            <a href="<%= detailsPath %>/<%= prod.id %>">more info</a>
            <% }); %>
        </div>
    </div>
</body>

</html>